@import "./scss/variables.scss";

.my-bg-container {
  background-color: #2B2D42;
}

.my-primary-bg {
  background-color: $new-primary;
}

.blurred-bg {
  filter: blur(10px);
}

.colored-bg-container {
  background: #1482ff;
  background: linear-gradient(20deg,rgb(1, 72, 153) 10%, rgba(156, 241, 240, 1) 49%, rgba(241, 156, 193, 1) 50%, rgb(255, 0, 0) 85%);
}

.bg-happy {
  background: #1482ff;
  background: linear-gradient(17deg, rgba(0, 55, 117) 0%, rgb(255, 238, 0) 45%);
}

.bg-sad {
  background: #1482ff;
  background: linear-gradient(17deg, rgb(0, 55, 117) 55%, rgba(255, 238, 0) 100%);
}

.container, .container-fluid {
  color: rgb(245, 249, 233);
}

.my-btn-blue {
  border-radius: 10px;
  background-color: $new-primary;
  color: black;
  padding: 0.5em 2em;
  border: 0;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(126,126,126,0.81); 
  box-shadow: 0px 0px 5px 3px rgba(126, 126, 126, 0.238) !important; 
  max-width: fit-content !important;
}

.my-btn-pink {
    border-radius: 10px;
    background-color: $new-secondary;
    color: black;
    padding: 0.5em 2em;
    border: 0;
    -webkit-box-shadow: 0px 0px 5px 3px rgba(126,126,126,0.81); 
    box-shadow: 0px 0px 5px 3px rgba(126, 126, 126, 0.238) !important; 
    max-width: fit-content !important;
}

.my-bg-pink {
  background-color: $new-primary;
}

.my-bg-secondary {
  background-color: $new-secondary;
}

.my-pink {
    color: $new-primary;
}