@import "./variables.scss";

.my-icons {
    color: $new-primary;
}

.options {
    display: flex;
    padding: 0.5em 0.5em !important;
}

.options:hover {
    border-radius: 10px;
    cursor: pointer;
}

@media screen and (min-width: 992px) {
    .custom-nav {
        height: 100vh;
    }
}
