@import "./variables.scss";

.my-icons {
    // color: rgb(122, 179, 245)
    color: $new-primary;
}

.options {
    display: flex;
    padding: 0.5em 0.5em !important;
}

.options:hover {
    // background-color: rgba(241, 156, 193, 0.318);
    border-radius: 10px;
    cursor: pointer;
}

@media screen and (min-width: 992px)
{.custom-nav {
    height: 100vh;
}}