.custom-modal {
    backdrop-filter: blur(4px);
    display: block;
    position: fixed;
    text-align: center;
    padding-top: 20vh;
}

.custom-modal .modal-dialog {
     border-radius: 20px !important;
}

.custom-modal .modal-content {
    background-color: #2B2D42 !important;
    color: white;
    border-radius: 20px !important;
}

.options-add-to-playlist:hover {
    cursor: pointer;
}