@import "./variables.scss";

.title-first-page {
    font-size: 5em;
    color: $new-dark;
}

.animation-title-first-page {
    animation: starter-title 8s linear forwards;
}

.p-first-page {
    animation: starter-p 8s linear forwards;
}

@keyframes starter-p {
    0% {
        opacity: 0;
    }
    
    50% {
        transform: translateY(2em);
        opacity: 0;
    }

    70% {
        transform: translateY(0);
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes starter-title {
    0% {
        opacity: 0;
    }

    20% {
        transform: translateY(-1em);
        opacity: 0;
    }

    40% {
        transform: translateY(0);
        opacity: 1;
    }

    95% {
        opacity: 1;
       
    }

    100% {
        opacity: 0;
        display: none;
    }
}

.picture-first-pg {
    position: absolute;
    bottom: 68vh;
    width: 175px;
    height: 275px;
    filter: contrast(75%);
}

.bg-first-page {
    height: 200vh !important;
    transform: translateY(-40vh);
    background: #2B2D42;
    background: radial-gradient(circle, $new-primary 15%, $new-dark 80%);
}