@import "./variables.scss";

.homepage-section {
    // background-color: $new-secondary;
    background-color: $new-primary;
    padding-bottom: 1em;
    border-radius: 0 0 100px 100px;
    color: black;
}