@import "./variables.scss";

.favourite-songs-picture {
    background-color: #d20000;
}

.playlist-cover {
    height: 7em;
    cursor: pointer;
    width: 7em;
    margin: auto;
}

.favourite-songs-picture:hover {
    cursor: pointer;
}