@import "./variables.scss";

.favourite-songs-picture {
    background-color: #d20000;
    // background-color: rgb(122, 179, 245);
}

.playlist-cover {
    height: 7em;
    cursor: pointer;
    width: 7em;
    margin: auto;
}

.favourite-songs-picture:hover {
    cursor: pointer;
}

.favourite-songs-picture svg {
    // color: rgb(241, 156, 193) !important;
}