@import "./variables.scss";

.timeline {
    position: relative;
    height: 2px;
    width: 1100px;
    margin: 4em auto 4em auto;
    color: white;
    background-color: white;
}

.container-timeline {
    width: 90%;
    margin: 0 auto;
    overflow-y: scroll;
}

.container-timeline::-webkit-scrollbar {
    display: none;
}

.point-time {
    height: 1em;
    width: 1em;
    border: 1px solid white;
    border-radius: 20px;
    position: absolute;
    top: -0.4em;
    &:hover {
        background-color: $new-primary;
        cursor: pointer;
        border-color: $new-primary;
    }
}

.year-active {
    background-color: $new-primary;
    border-color: $new-primary;
}

.year-span {
    position: absolute;
    top: 1.3em;
    right: -0.5em;
}

.container-songs-period {
    // border: 2px solid black;
    min-width: 100px;
    max-width: 700px;
    width: 70%;
    margin: 0 auto;
    border-radius: 20px;
    color: black;
    padding-bottom: 1em;
}

.custom-alert {
    width: fit-content;
    padding: 1em 1.5em;
}

#first {
    left: 5%;
}

#second {
    left: 15%;
}

#third {
    left: 25%;
}

#forth {
    left: 35%;
}

#fifth {
    left: 45%;
}

#sixth {
    left: 55%;
}

#seventh {
    left: 65%;
}

#eight {
    left: 75%;
}

#nineth {
    left: 85%;
}

#tenth {
    left: 95%;
}

#end {
    left: 99.5%;
}