.hero {
    filter:blur(10px);
    background-position: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    // background-color: #ffffff;
    // z-index: -1;
}

.change-hero {
    // filter:blur(0);
    width: 100%;
    min-height: 25vh;
    // background: #2B2D42 !important;
    // background: linear-gradient(0deg, rgba(43, 45, 66, 1) 5%, rgba(255, 255, 255, 0.28) 65%);   
    h1 {
        position: absolute;
        top: 0.5em;
        font-size: 4em;
    }
}

.playlist {
    color: white;
    min-height: 100vh;
}

.col-nav {
    min-height: 100vh !important;
    position: fixed !important;
}

.player-playlist {
    position: absolute;
    top: 18vh;
    right: 0;
}

.play-button {
    width: 3.7em; 
    height: 3.7em;
}

.icons-for-playing {
    font-size: 2.7em;
    & :hover {
        cursor: pointer;
    }
}

.drop-order-playlist {
  position: absolute;
  right: 4em;
  top: 3em;
  background-color: rgb(56, 56, 56);
  z-index: 2;
//   border: 0.5px solid rgba(0, 0, 0, 0.208);
  /* padding: 0.5em 1em; */
  width: 9em;
  border-radius: 0.3em;
}

// .drop-order-playlist legend {
//   font-size: 1.2em;
//   font-weight: 600;
// }

.drop-order-playlist ul {
  padding-left: 0;
  margin-bottom: 0em;
  list-style-type: none;
}

.drop-order-playlist ul li {
  padding: 0.7em 1em;
  cursor: pointer;
  color: white;
  font-size: 1em;
}

.drop-order-playlist ul li:hover,
.drop-order-playlist ul li:focus {
  background-color: rgba(187, 187, 187, 0.156);
}

// .modal-change-name {
//     position: absolute;
//     top: 1em;
// }

.modal-change-name {
    backdrop-filter: blur(4px);
    display: block;
    position: absolute;
    padding: 10vh 10vw;
    text-align: center;
    .modal-dialog {
        border-radius: 20px !important;
    }
    .modal-content {
        background-color: #2B2D42 !important;
        color: white;
        border-radius: 20px !important;
    }
    input {
        margin: 0 auto;
    }
    svg:hover {
        cursor: pointer
    }
}