.container-player-details {
    max-width: 400px;
    border-radius: 40px;
    height: fit-content;
    position: fixed;
    right: 0;
    left: 0;
    top: 10%;
    backdrop-filter: blur(10px);
    padding: 0;
    @media screen and (min-width: 713px) {
       right: 10vw;
        left: 10vw;
        top: 17%;
    }

    @media screen and (min-width: 992px) {
        left: 30%;
    }

    @media screen and (min-width: 1200px) {
        left: 15%;
        top: 10%;
    }
}

.row-details {
    max-width: 80vh;
    margin: 0 auto !important;
}

.drop-order-player-music {
    z-index: 3;
    width: 110px;
    font-size: 1.1em;
    right: 3.3em;
    top: 3em;
}

.icons-up-player {
    width: fit-content;
    cursor: pointer;
}

.icons-favourite-details {
    margin-bottom: 0.5em;
    cursor: pointer;
}

.image-player-details {
    width: 50%;
    max-width: 300px;
    height: auto;
    margin: 2em auto;
}

.container-volume {
    transform: rotate(270deg) translateY(4.1em) translateX(9em);
    position: absolute;
    right: 0.4em;
    bottom: -2.2em;
    width: 15em;
    height: 2em;
}

.icon-volume-details {
    transform: rotate(90deg);
}

.volume-details {
    width: auto !important;
}

.bg-details {
    position: fixed;
    bottom: 3.5em;
    right: -1em;
    left: -2em;
    top: -1em;
    filter: blur(8px);
    background-size: cover;
    @media screen and (min-width: 992px) {
        bottom: -1em;
        left: 15em;
    }
    
}