.hero {
    background-image:url("https://wallpapers.com/images/hd/clouds-worship-hour-spotify-playlist-cover-q34fwvw4daewoopr.jpg");
    background-position: center;
    position: relative;
    min-height: 70vh;
}

.playlist {
    // background-color: rgb(56, 56, 56);
    color: white;
    min-height: 100vh;
}