.hero {
    filter:blur(10px);
    background-position: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    // background-color: #ffffff;
    // z-index: -1;
}

.change-hero {
    // filter:blur(0);
    width: 100%;
    min-height: 25vh;
    // background: #2B2D42 !important;
    // background: linear-gradient(0deg, rgba(43, 45, 66, 1) 5%, rgba(255, 255, 255, 0.28) 65%);   
    h1 {
        position: absolute;
        top: 0.5em;
        font-size: 4em;
    }
}

.playlist {
    color: white;
    min-height: 100vh;
}

.col-nav {
    min-height: 100vh !important;
    position: fixed !important;
}

.player-playlist {
    position: absolute;
    top: 18vh;
    right: 0;
}

.play-button {
    width: 3.7em; 
    height: 3.7em;
}

.icons-for-playing {
    font-size: 2.7em;
    & :hover {
        cursor: pointer;
    }
}