#map {
    margin-top: 2em;
    height: 30vh !important;
        svg {
            transform: translateY(0em);
        }
    @media screen and (min-width: 667px) {
        width: 70vw !important;
        height: 40vh !important;
        margin: 0 auto;
    }
}

.img-top-song {
        width: 6.8em;
        height: 4.5em;
    }