.song {
    border: 1px solid black;
    border-radius: 5px
}

.song:hover {
    transform: scale(1.01);
}

.song button {
    background-color: white;
    border: 0;
    border-radius: 5px;
    padding: 0.3em
}

.song button:hover {
    background-color: white;
}

.song img {
    width: 4em;
    height: 4em;
    padding: 0;
}

.song img:hover, .song .dots-menu:hover {
    cursor: pointer
}