.song {
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgb(33, 33, 33);
}

.song:hover {
    transform: scale(1.01);
}

.song button {
    background-color: transparent;
    border: 0;
    border-radius: 5px;
    padding: 0.3em
}

.song button:hover {
    background-color: transparent;
}

.song img {
    width: 3.5em;
    height: 3.5em;
    padding: 0.3em;
}

.song img:hover, .song .dots-menu:hover {
    cursor: pointer
}

.song img:focus, .song img:active {
    border: 0;
}