// $new-primary: rgba(148, 187, 233, 1);
// $new-primary: rgb(122, 179, 245);
$new-primary: rgb(255, 213, 61);
$new-secondary: rgb(134, 191, 255);
// $new-secondary: rgb(241, 156, 193);
$new-light: rgb(245, 249, 233);
$new-dark: #2B2D42;