.container {
  min-height: 100vh;
}

.myForm {
  border: 1px solid black;
  border-radius: 20px;
  padding: 2em 3em 1em 3em;
}

.registrationForm {
  padding: 2em 6em;
  max-width: 80%;
  margin-top: 5em;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 25px;
  aspect-ratio: 0.75;
  --c: no-repeat linear-gradient(#0000007f 0 0);
  background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
  animation: l7 1s infinite linear alternate;
}
@keyframes l7 {
  0% {
    background-size: 10% 50%, 10% 50%, 10% 50%;
  }
  20% {
    background-size: 10% 20%, 10% 50%, 10% 50%;
  }
  40% {
    background-size: 10% 100%, 10% 20%, 10% 50%;
  }
  60% {
    background-size: 10% 50%, 10% 100%, 10% 20%;
  }
  80% {
    background-size: 10% 50%, 10% 50%, 10% 100%;
  }
  100% {
    background-size: 10% 50%, 10% 50%, 10% 50%;
  }
}
